<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
	</section>
</aside>
<div class="span8">
<% if @user.tournaments.any? %>
<h3>Tournaments (<%= @user.tournaments.count %>)</h3>
<ol class="tournaments">
<%= render @tournaments %>
</ol>
<%= will_paginate @tournaments %>
<% end %>
</div>

</div>


