<% provide(:title, 'New Tour') %>
<h1>Create Tournament</h1>
<div class="row">
	<div class="span6 offset3">
            <%= render 'shared/terror_messages' %>
		<%= form_for(@tournament) do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :p_ucast, "Number of participants" %>
		<%= f.select :n_part, [['4',4],['8',8],['16',16]]%>
             <%= f.label :p_partss, "Insert participants (Each new participant to new line!)" %>
             <%= f.text_area :parts %>
             <%= f.submit "Create tournament", class: "btn btn-large btn-primary" %>
    		<% end %>

            </div>
</div>